body {
    background: url("../img/tabs_background.jpg");
    background-size: 100%;
    display: flex;
    flex-flow: column;
    align-items: center;


}

header {

    h1 {
        color: white;
    }

    ul {
        display: flex;
        justify-content: space-evenly;
        list-style: none;
        padding: 0px;
        color: silver;
        
        a {
            text-decoration: none;
            color: silver;
        }
    }
}

main {
    display: flex;
    flex-flow: column;
    color: white;
    width: 80%;


    .article {
        display: flex;

        .section {
            display: flex;
            width: 50%;    
            
            img {
                width: 280px;
                height: 210px;
            }
    
            p {
                width: 100%;
            }
        }
    }
}

.news {
    display: flex;
    flex-flow: column;
    align-items: center;
    background-color: white;
    width: 100%;

    .news-section {
        display: flex;
        justify-content: space-evenly;
        width: 100%;

        img {
            width: 210px;
            height: 180px;
        }
    }
}

.footer {
    width: 100%;
    text-align: center;

    ul {
        display: flex;
        justify-content: center;
        list-style: none;
        margin-left: 0px;

        li {
            color: grey;
            margin: 0px 10px;
        }

        a {
            text-decoration: none;
            color: grey;
        }
    }
}

