body {
    background: url("../img/tabs_background.jpg");
    background-size: 100%;
    display: flex;
    flex-flow: column;
    align-items: center;


}

header {

    h1 {
        color: white;
    }

    ul {
        display: flex;
        justify-content: space-evenly;
        list-style: none;
        padding: 0px;
        color: silver;
        
        a {
            text-decoration: none;
            color: silver;
        }
    }
}

main {
    display: flex;
    flex-flow: column;
    color: white;
    width: 80%;


    .article {
        display: flex;
        
        .section {
            display: flex;
            width: 50%;    
            
            img {
                width: 280px;
                height: 210px;
            }

            p {
                width: 100%;
            }
        }


    }
}