@import url("https://fonts.googleapis.com/css2?family=Gelasio&display=swap");
.m-sides {
  margin: 0px 40px;
}

.eighty-height {
  height: 80% !important;
}

html {
  height: 100%;
  width: 100%;
}

body {
  font-family: 'Gelasio', serif;
  height: 100%;
  width: 100%;
}

#search-field {
  display: none;
}

header {
  background: url("../img/craving.jpg");
  background-size: 100%;
  height: 50%;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header nav {
  width: 98%;
  padding: 0 2%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-color: grey;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header nav a {
  text-decoration: none;
  color: black;
}

header nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

header nav ul li {
  margin: 0px 10%;
}

header nav form {
  display: inline-block;
}

header .main-line {
  padding-top: 10%;
  color: whitesmoke;
}

header .main-search-wrap {
  padding: 10px;
  background-color: white;
  border-radius: 5px;
}

header .search-field {
  border: none;
  outline: none;
}

main {
  height: 180%;
  width: 100%;
  background: url("../img/background.jpg");
  background-size: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-top: 5%;
}

main .section-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main .section-wrapper a {
  text-decoration: none;
  color: whitesmoke;
  background-color: orangered;
  padding: 5px 20px;
}

main .section {
  width: 70%;
  height: 30%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-item-align: center;
      align-self: center;
  margin-bottom: 5%;
}

main .section img {
  width: 100%;
  height: 100%;
}

main .section .text-box {
  width: 40%;
  height: 100%;
  background-color: whitesmoke;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

main .section .img-box {
  width: 60%;
  height: 100%;
}

main .section h3 {
  background-color: whitesmoke;
  margin: 0px;
  padding: 5px;
  text-align: center;
}

footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: papayawhip;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

footer ul {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

footer ul li {
  margin-left: 10%;
}

footer ul li a {
  text-decoration: none;
  color: black;
}
/*# sourceMappingURL=style.css.map */